p {
    background-color: chocolate;
}
h1 {
    font-style: italic;
    color: darkblue;
}
nav {
    background-color: darkgoldenrod;
}
body {
    background-color: darkgray;
}
.AsideParagraph
{background-color: darkred;}