p {
    background-color: chocolate;
}
h1 {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: darkblue;
    text-align: center;
    font-size: 40px;
}
nav {
    background-color: darkgoldenrod;
    float: left;
}
body {
    border: crimson;
    border-spacing: 10cm;
    border-style: dotted;
    background-color: whitesmoke;
    padding: 100px;
    margin: 50px;
}
.AsideParagraph
{background-color: darkred;}

#GoToTop{
    position: fixed;
    bottom: 0;
    right: 0;
}
